

.blog-preview {
    padding: 10px 16px;
    margin: 20px 0;
    border-bottom: 1px solid #2e2d2d36;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
  }
  .blog-preview:hover {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.288);
    cursor: pointer;
  }
  .blog-preview h1{
    color: #064789;
   
  }
  .blog-preview h2 {
    font-size: 12px;
    color: #2e2d2d;
    margin-bottom: 8px;
  }

  a{
    text-decoration: none !important;
  }


  .author{
    margin-left: auto;
    display: block;
  }